@import '../../../variables.scss';

:host {
    display: flex;
    flex-direction: column;
}

.productPrice {
    font-size: 30px;
    font-weight: 500;
    color: $warn;
}

mat-card {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #777;
}